@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Oswald, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  > div {
    height: 100%;
  }
}
html {
  scroll-behavior: smooth;
  overflow: overlay;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.blink {
  animation: fade 4000ms infinite;
  -webkit-animation: fade 4000ms infinite;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  will-change: transform;
  backface-visibility: hidden;
  perspective: 1000;
}

// Better scrollbar
* {
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.1);
    background-color: transparent;
    border-radius: 10px;
    margin-top: 0px;
    margin-left: 4px;
  }
  &::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #fcd535;
    border: 1px solid white;
  }
}

// override styles of label's radio button
.dark .inline-flex.items-center
  > label.text-gray-700.font-light.select-none.cursor-pointer.mt-px {
  color: white;
}
.inline-flex.items-center
  > label.text-gray-700.font-light.select-none.cursor-pointer.mt-px {
  color: #424242;
}